body{
    display: flex;
    justify-content: center;
    flex-direction: column  ;
}

.botao{ 
    height: 36px;
    border-radius: 10px; 
    margin: 10px; 
    text-align: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

.ativo{
    background-color: blue;
}

.inativo{
    background-color: #888686; 
}

h1{
    height: 21px;
    text-align:center;
}

h2{
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.imagem-tipo > img{
    height: 60px;
    width: 60px;
}

.imagem-tipo{
    border-radius: 80px;
    height: 80px;
    width: 80px;
    background-color:#C4C4C4;
    justify-content: center;
    align-items:center ;
    display: flex;
    margin: 0 auto;
}

.item{
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

.check{
    justify-content: center;
    align-items: center;
}

.modelo, .gola, .tecido{
    justify-content: space-between;
    align-items: center;
    display:flex;
    margin: 5px auto 10%;
    height: 120px;
}

.interativo{
    background-color:whitesmoke;
    height: 758px;
    width: 52%; 
    max-width:695.51px; 
    border-top: 89px;
    display: flex;
    z-index: 1;
    border: 0.5px solid #C4C4C4;
    padding: 10px auto;
    min-width:360px;
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h4{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h5{
    color:#404EED;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}

.elemento img{
    max-width: 437px;
    max-height: 634px;
    background: no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.centralizando{
    width: 360px;
    height: 706px;
    margin: auto;
    flex-direction: column; 
    display: flex;
    justify-content: center;
}

.img-ref{
    height: 40px;
    width: 95%;
    border-radius: 10px;  
    background-color:#b9adad;
    margin: 10px auto;
}

.button, .buttonFinal{
    height: 40px;
    width: 95%;
    border-radius: 10px; 
    margin: 10px auto;  
    text-align: center;
}

.MensagemFinal{
    background-color:whitesmoke;
    height: 758px;
    width: 52%;  
    padding: 0px 10px;
    border-top: 89px;
    display: flex;
    position: fixed;
    top: 85px;
    left: 0px;
    z-index: 2;
}

.invisivel{
    background-color: rgba(252, 252, 252, 0);
    z-index: 0;
}

body{
    width: 1366px;  
    display: inline;
}

.conteiner{
    width: 100%;
    max-width: 1366px;  
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    background-color:#404EED;
}

.logo{
    width: 48%;
    max-width: 670.49px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center;
    background-size: cover;
}

.logo img{
   max-width: 100%;
}

.usuario{
    background-color: grey;
    border-radius: 10px;
    height: 39px;
    width: 248px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.topo{
    background-color:#404EED;
    height: 89px;
    width: 100%;
    max-width: 1366px;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 53px;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.teste{
    height: 100px;
    width: 100px; 
    background-color: aqua;
}

.botoes{
    display: flex;
    gap: 50px;
    /* align-items: center; 
     justify-content:space-between; */
}

.lista{
    height: 492px;
    width: 100%; 
    max-width: 1366px; 
    margin:0px auto;
}

.selecionado{
    border: 5px solid #404EED;
}

.criados{
    display:flex;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;   
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    overflow-y:hidden;
}

.criados button{
    width: 216px;
    height: 257px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.criados button div{
    display: flex;
    margin:0px auto;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.criados img{
    width: 193px;
    height: 195px;
    background: no-repeat center;
    background-size: cover;  
    margin: 20px auto;
}

